@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

html {
  background-color:#F6F8FF;
}

main {
  margin: 31px 24px 0 24px;
  font-family: 'Space Mono';
}

.top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* font-family: 'Space Mono'; */
}

.top h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 39px;
  color: #222731;
}

.theme {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.theme h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 19px;
  text-align: right;
  letter-spacing: 2.5px;
  color: #4B6A9B;
}

.theme img {
  width: 20px;
  height: 20px;
  padding-left: 16px;
}

.search {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-between; */
  width: 100%;
  height: 60px;
  margin-top: 36px;
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
  border-radius: 15px;
  background: #FEFEFE;
}

.search input::placeholder {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 25px;
  color: #4B6A9B;
}

.search img {
  width: 20px;
  height: 20px;
  padding-left: 16px;
}

input {
  margin-left: 8.95px;
  outline: none;
  border: none;
}

.btn-search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 84px;
  height: 46px;
  margin-left: 7px;
  background-color: #0079FF;
  border-radius: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 327px;
  height: 517px;
  margin-top: 16px;
  /* padding: 0 24px 0 24px; */
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
  border-radius: 15px;
  background-color: #FEFEFE;
}

.box p {
  margin-top: 33px;
}

.git-info {
  display: flex;
  flex-direction: row;
  margin-top: 32px;

}

.git-info img {
  width: 70px;
  height: 70px;
}

.bio-content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 24px;
}

.box-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 279px;
  height: 85px;
  background-color: #F6F8FF;
  border-radius: 10px;
  margin-top: 23px;
}

.repos,
.followers,
.following {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.repos,
.following {
  margin: 25px;
}

.repos h2,
.followers h2,
.following h2 {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  color: #4B6A9B;
}

.repos span,
.followers span,
.following span {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #2B3442;
}

.icons {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  height: 100%;
  margin-top: 24px;
}

